html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    background-image: linear-gradient(to right, #3b1f7b, #0f1042);    
    color: white;
}

main {
    flex: 1;
    margin: 5%;
    margin-top: 0;
    margin-bottom: 0;
}

#main-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: transform 0.3s ease;
}

#main-header.hidden {
  transform: translateY(-100%);
}

h1 {
    margin: auto;
}

ul {
    display: flex;
    margin: 0;
    padding: 0.5rem;
    background-image: linear-gradient(to right, #3b1f7b, #0f1042);   
    gap: 1rem;
    border-bottom: solid 	#7873f5 0.25rem;
    border-left: solid 	#7873f5 1rem;
    border-right: solid #7873f5 1rem;

    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

footer ul {
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    border-top: solid #7873f5 0.25rem;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
}

li {
    flex: 1;
}

li a {
    display: block;
    border-radius: 0.625rem;
    padding: 0.625rem 0.5rem;
    border: solid #7873f5 2px;
}

li a:hover:not(.active) {
    background-image: linear-gradient(to right, #1abc9c, #7d5ec2);
    box-shadow: 
        0 0 10px #7873f5,
        0 0 10px #1abc9c;
}

li a.active {
    border-image: linear-gradient(to right, #1abc9c, #7873f5);
    border: solid transparent 2px;
    background-origin: border-box;
}

.website-header {
    margin-bottom: 2rem;
}

.active {
    background-image: linear-gradient(to right, #1abc9c, #7873f5);
    box-shadow: 
        0 0 10px #7873f5,
        0 0 10px #1abc9c;
}

.info-card-container{
    display: flex;
    flex-direction: row;
    margin: 2rem 0;
}

@media (max-width: 915px){

    main {
        margin: 10% 10% 0 10%;
    }

    .website-header {
        margin-bottom: 0;
    }

    ul {
        gap: 0.25rem;
    }

    .info-card-container {
        flex-direction: column;
    }
}


