  header {
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 1rem;
    text-align: center;
    position: relative;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    position: relative;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -8px 20px rgba(0, 0, 0, 0.4);

  }

  header, footer {
    background-image: linear-gradient(to right, #0f1042, #3b1f7b);
  }
  
  header nav a{
    text-decoration: none;
    margin: 5px;
    padding: 0;
  }

  header button{
    border: solid black 3px;
    border-radius: 5px;
    min-height: 2.5rem;
    min-width: 4rem;
    box-sizing: border-box;
  }

  header button:hover {
    background-color: gray;
  }